:root{
    --color: rgb(247, 222, 192);
    --txt: rgb(185, 185, 185)
}

*{
    background-color: var(--color);
    background-image: url('../img/odin-lined.png');
    background-repeat: repeat;
    background-size: 50px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;

    /* outline: 1px solid red; */
}

body {
    min-height: 80vh;
}

.container {
  display: flex;
}

.text,
.form-container {
  text-align: left;
  padding: 20px;
  flex: 1;
}

.picture {
  position: relative;
  flex: 2;
}

.side-img {
  width: 350px;
  height: 100vh;
  object-fit: cover;
}

.logo {
  position: absolute;
  color: black;
  width: 200px;
  height: 250px;
  align-items: center;
  bottom: 20px;
  right: 20px;
}

.content .text p {
  font-size: 1.5rem;
  line-height: 1;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
  font-weight: 400;
  margin-bottom: 20px;
}

.content .text p span {
  font-style: italic;
  font-weight: 600;
}

.content {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  /* background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0); */
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 1 1 2 rgb(22, 22, 22);
}

input {
  width: 30%;
}

.form-title {
    text-align: center;
}

.btn {
    color: #8c8282; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    padding: 10px 0; 
    border:rgb(247, 222, 192); 
    cursor: pointer; 
    font-weight: 500;
}

.members {
    margin-top: 10px;
}

.members a {
    text-decoration: underline;
    color: blue;
}

.btn:hover {
    cursor: pointer;
}